!!!5
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}

    %title Last Day of Winter

    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Raleway:400,200,700|Codystar'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => stylesheet_path('app')}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '//vjs.zencdn.net/4.6/video-js.css'}

    %link{:rel => 'shortcut icon', :type => 'image/x-icon', :href => image_path('/logos/favicon.ico')}
  %body
    #home.section
      .content

        %h1
          %span Team Dam Straight presents
          %strong Last Day of Winter

        %h2 A fireside feast in support of the O2O challenge and Cancer Council SA.

      %img.shoes{:src => image_path('shoes.png')}
      %img.wiggle{:src => image_path('wiggles-top-left.png')}

    #about-the-event.section
      .content

        :markdown

          ## The Feast

          We'll gather for a long (long) lunch at the Bethany Reserve - we'll be cooking up whole lambs and Argentinian style beef ribs over a huge wood fire, big bowls of home made vegies and salads, and plenty of treats to keep you nibbling while we carve. And of course, wine, cider and beer to keep you warm.



          ### 31st of August, 2014

          You might be suprised to hear that the feast will be held on August 31 - that's the last day of Winter!

          Festivities will start at 1pm, and go through until about 5.

      %img.corkscrew{:src => image_path('corkscrew.png')}


    #about-the-challenge.section
      .content

        :markdown

          ## The O2O Challenge

          Our team is participating in the [Oxford to Oxford challenge](http://oxford2oxford.com): A 110km run/ride between Oxford Landing Winery and Oxford Landing Estate.

          The event is entirely run by volunteers, and all the money raised by teams is donated to the Cancer Council so they can continue their research.

          The traditional approach to this sort of fundraising is to ask for sponsorship from friends and family, door-knock, put those horrible little boxes of lollies around the place - we figure it's a better bet, and a lot more fun, to make a celebration out of it, and get great people together to do it in one go.

      %img.wheel{:src => image_path('wheel.png')}

    #tickets.section
      .content

        %img.knife{:src => image_path('utensils.png')}

        :markdown

          ## Tickets

          ### $50 per adult, all inclusive

          Tickets are $50 per adult, $25 for kids 5-15, and people under 5 eat for free. Your ticket includes all food and drink, all afternoon.

          All our proceeds will go to the Cancer Council - we've had a lot of very generous donations and offers of support from local businesses, which means we've minimised our costs and more goes to charity.

          ### To purchase, please email Karli - [feast@lastdayofwinter.com](mailto:feast@lastdayofwinter.com?subject=I'd like some tickets, please!)

          Please remember this event is invitation-only and numbers are limited. If you'd like to bring extra friends, please let us know soon so we can fit you in!

          ### Supporting our team

          If you can't make it on the day, but you'd still like to support our team, we'd love it if you could make a donation [on our fundraising page](https://secure.cancercouncilfundraising.org.au/registrant/TeamFundraisingPage.aspx?Referrer=direct%2fnone&TeamID=72640#&panel1-1).



    #sponsors.section
      .content

        :markdown

          ## Our Sponsors

          Thank you to everyone who has supported us so far!

        %ul.sponsors
          %li.glaetzer Glaetzer Wines
          %li.naked-run Naked Run
          %li.oxford-landing Oxford Landing Estate
          %li.shobbrook-wines Shobbrook Wines
          %li.thornby Thornby Fine Meats
          %li.yalumba The Yalumba Wine Company




    %script{:src => '//code.jquery.com/jquery-2.1.1.min.js'}
    %script{:src => '//vjs.zencdn.net/4.6/video.js'}
    %script{:src => javascript_path('app')}
