@import compass/css3
@import vendor/bigvideo
@import devices

html
  background: #111

body
  background: #111
  color: #FFF
  font-family: Raleway, sans-serif
  padding: 0
  margin: 0

h1, h2, h3
  font-weight: 200

h1
  font-size: 4.8em
  margin: 0 0 0.2em 0
  letter-spacing: -0.02em
  line-height: 0.95


  span
    font-family: Codystar
    font-size: 0.5em
    display: block

h2
  +text-shadow((1px 1px 1px rgba(#FFF, 0.8)), (-1px -1px 1px rgba(#000, 0.3)))
  font-family: Codystar
  font-size: 4.2em
  margin: 0 0 0.3em

h3
  font-size: 1.8em
  font-weight: 700
  margin: 0.3em 0 0.2em
  text-transform: uppercase

  a
    text-transform: none

p, li
  font-size: 1.2em
  line-height: 1.5

a
  &:link
    color: #A9E4F7
    text-decoration: none
    border-bottom: 1px dashed
  &:visited
    color: #ABB9F7
  &:hover
    color: #F7BD9B
  &:active
    color: #DCA88A

.section
  position: relative
  z-index: 2
  
  &:nth-child(odd)
    background: rgba(#000, 0.6)

  img
    position: absolute
    width: 18%

.content
  box-sizing: border-box
  width: 60%
  max-width: 70em
  min-width: 320px
  margin: 0 auto
  padding: 4em 2em
  position: relative
  z-index: 1

#big-video-wrap
  z-index: 1

.decoration
  z-index: 0

#home
  padding-top: 4em

  .content
    padding-right: 18%

  h2
    +text-shadow(none)
    font-family: Raleway, sans-serif
    font-size: 1.8em

#about-the-event
  background: #323131 image-url('grey-texture.png')

#about-the-challenge
  background: #6a6363 image-url('brown-texture.png')

#sponsors
  background: #3e614e image-url('grass.jpg')

img.corkscrew
  left: -5%
  top: 25%
  width: 22%

img.wheel
  right: -5%
  bottom: -15%

img.shoes
  bottom: -10%
  right: 3%
  width: 35%

img.wiggle
  top: -2%
  left: -5%
  width: 24%

img.knife
  position: static
  width: 65%
  margin-bottom: 1em
  margin-left: -5%


#big-video-wrap
  +opacity(0)
  +transition(opacity, 2000ms)

html.video-loaded
  #big-video-wrap
    +opacity(1)

html.touch
  #home
    background: image-url('fire.jpg')

+apply_to(less-than, $iphone5-landscape)
  
  h1
    font-size: 60px

  h2
    font-size: 38px

  h3
    font-size: 22px    

  .content
    width: 100%
    min-width: 0

  img.shoes
    bottom: auto
    top: 2%
    width: 48%

  img.wheel
    bottom: auto
    top: -10%

  img.knife
    width: 90%